<% if @review.errors.none? %>
  <%= turbo_stream.replace dom_id(@review), partial: "review", locals: { review: @review } %>
  <%= turbo_stream.update "flash" do %>
    <p class="flash-notice">Reseña actualizada.</p>
  <% end %>
<% else %>
  <%= turbo_stream.replace "new_review" do %>
    <%= render "form", candy: @candy, review: @review %>
  <% end %>
<% end %>
